.inline{
  display: inline-flex;
}

.post-title{
  @include textos(em(20px),bold,$blanco,initial);
  margin-bottom: 1em;
}

.avatar-cargo{
  @include textos(em(20px),600!important,$cargo,initial);
}

.parallax{
  position: relative;
  top: 7px;
  width: 100%;
}

#owl-demo{
  text-align: center;
  height: 100%;
  &>.owl-stage-outer,.owl-stage,.owl-item,.it{
    height: 100%;
  }
}

.owl-next{
  @include arrow("../img/next.png",right,-340px);
}

.owl-prev{
  @include arrow("../img/prev.png",inherit,-288px);
}

.line{
  margin-top: 4em;
}

.img-center{
  display: flex;
  justify-content: center;
  & > img{
    width: inherit!important;
  }
}

.parallax{
  background-image: url("../img/parallax.png");
  height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  text-align: center;
  .in-parallax{
    & > h1{
      @include textos(em(40px),bold,$blanco,initial);
    }
    & > h2{
      @include textos(em(25px),normal,$blanco,initial);
    }
  }
  .p-container{
    display: flex;
    justify-content: center;
    & > p{
      @include textos(em(23px),300,$blanco,initial);
      width: 70%;
    }
  }
}

.raya-container{
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.raya{
  border-bottom: solid .2em $blanco;
  height: 50px;
  width: 50%;
  min-width: 300px;
}

.avat1{ background-color: #f3f8f1; }

.inter{ background-color: #ededed; }
