.main-pretitle{
  @include textos(em(22px),500,$gris,initial);
  color: #3E444B;

}

.main-title{
  @include textos(em(40px),900,$color-p,initial);
  margin-bottom: .7em;
}

.main-content{
  @include textos(em(15px),normal,$color-p,1.24);
}

.ours-title{
  @include textos(em(40px),bold,$negro,initial);
  color: #224767;
  text-align: center;
}

.ours-main{
  @include textos(em(19px),normal,$color-p,1.63);
}

.next2{
  @include navs(-203px,"../img/prev.png",165px);
}

.prev2{
  @include navs(-255px,"../img/next.png",165px);
}
