- var pFooter = "Atis re is a fully accredited and licensed Reinsurance Intermediary Broker with a team that has over 70 years of combined experience.   We have the ability to meet and exceed our customers' expectations, and our team is dedicated to provide exceptional customer service tailored to exceed your placements chain needs, all while providing complete consulting service, being innovators, accommodating to any size or complexity, those are only few of the advantage of working with us. "
mixin foot(x)
  each val in x
    .column.center
      img(src="img/foot#{val}.png")
.pre-footer
footer.foot
  .columns.w-full
    .column.is-3
      h5.foot-title About Us
      p.foot-content #{pFooter}
    .column.is-9
      h5.foot-title Companies we Present  
      .columns.w-full
      img(src="img/mfoo.png")
      //.columns.w-full
        //+foot([1,2,3,4])
      //.columns.w-full
        //+foot([5,6,7,8])

            
