- var item1 = {class:"fondo1",title:"Assurance",content:p3}
- var item2 = {class:"fondo2",title:"Transparency",content:p3}
- var item3 = {class:"fondo3",title:"Integrity",content:p3}
- var item4 = {class:"fondo4",title:"Service",content:p3}
- var item5 = {class:"fondo5",title:"Service",content:p3}
- var items = [item1,item2,item3,item4,item5]
mixin items(className,title,content)
  .item
    div(class="#{className}")
      .in-fondo
        h2 #{title}
        p #{content}
        
each val in items
  +items(val.class,val.title,val.content)
