img(src="img/logo.png",alt="Atis",class="img-logo")
br
br
br  

nav.nav    
  .nav-left
    a.nav-item
      
  span.nav-toggle
    each val in [1, 2, 3]
      span
  
  .nav-right.nav-menu
    a.nav-item Home
    a.nav-item About
    a.nav-item Products and Services
    a.nav-item Contact Us
    a.nav-item Help us to help you better
